.location {
   @apply max-w-full w-40 relative text-skyDark flex justify-between items-baseline p-1 rounded-lg overflow-hidden cursor-pointer border-b-2 transition-all duration-300 ease-in-out font-bold;
   transition: transform 0.3s ease;
}

.location:hover {
   @apply shadow-lg;
   transform: translateY(-3px);
}

.selected-location {
   @apply max-w-full w-[99px] block mx-0 overflow-hidden text-ellipsis text-start whitespace-nowrap;
}

.drop-down-icon {
   @apply my-auto ml-3 text-2xl text-skyDark cursor-pointer;
}

.dialog-title {
   @apply text-2xl font-bold text-skyDark relative text-shadow-main;
}

.dialog-description {
   @apply text-sm text-blurGray -mt-5 mb-4 text-shadow-sub;
   letter-spacing: 0rem;
   text-shadow: 1px 1px 9px rgba(0, 0, 0, 0.2);
}

.dialog-box {
   @apply w-full max-w-lg h-[401px] flex flex-col gap-4 relative bg-white p-4 rounded-lg;
}
