.all-categories {
   border: 3px solid #6c6c6c;
   border-radius: 50px;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.all-categories:hover {
   border-radius: 50px;

   transform: translateY(-5px);
   box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.25),
      12px 12px 30px rgba(0, 0, 0, 0.2);
}

.btn-3d {
   border-radius: 50px;
   font-size: 1.125rem;
   padding: 0.9rem 1.25rem 1.3rem;
   display: flex;
   align-items: center;
   gap: 0.75rem;
   color: white;
   font-weight: bold;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
      10px 10px 20px rgba(0, 0, 0, 0.15);
   transition: transform 0.3s ease, box-shadow 0.3s ease;
   cursor: pointer;
}

.menu-icon {
   width: 1.25rem;
   height: 1.25rem;
   font-weight: 700;
   color: #4b5563;
   display: inline-block;
   border-radius: 50%;
}

.product-label {
   border: 2px solid #6c6c6c;
   background-color: #f9fafb;
   color: #4b5563;
   position: absolute;
   padding: 0.25rem 0.5rem;
   border-radius: 50px;
   bottom: -15px;
   left: 1.9rem;
   font-size: 0.875rem;
   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
