.horizontal-line-clamp {
   display: -webkit-box;
   line-height: 1.5rem;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;
   font-weight: 700;
}

.badge {
   @apply inline-block relative h-[21px] text-white text-[14px] text-center bg-skyDark font-bold px-2 m-auto;
   border-radius: 5px 0 0 5px;
}
.badge::after {
   @apply absolute top-0 -right-[9px] w-0 h-0;
   content: '';
   border-top: 0px solid transparent;
   border-bottom: 13px solid transparent;
   border-left: 10px solid var(--sky-dark);
}

.badge::before {
   @apply absolute top-[70%] -right-[9px] w-0 h-0 transform -translate-y-1/2;
   content: '';
   border-bottom: 0px solid transparent;
   border-top: 13px solid transparent;
   border-left: 10px solid var(--sky-dark);
}

.product-discount {
   font-weight: 700;
}

.origanal-price {
   font-weight: 600;
}

.prime-text {
   font-weight: 700;
}
