.main-search-input {
   border-radius: 0.5rem;
   padding: 0.9rem 3rem;
   width: 100%;
   outline: none;
   background: linear-gradient(135deg, #fa4860, #fce54b);
   color: #fff;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3), 0 0 25px rgba(0, 0, 0, 0.15);
   background-clip: padding-box;
   position: relative;
   transition: transform 0.2s, border-color 0.2s;
}

.main-search-input:hover,
.main-search-input:focus {
   border-color: transparent;
   box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2), 0 0 30px rgba(0, 0, 0, 0.1);
}

.main-search-input::placeholder {
   color: #fff;
   font-weight: 500;
   text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5),
      inset 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.main-search-input:focus::before {
   content: '';
   position: absolute;
   top: -2px;
   left: -2px;
   right: -2px;
   bottom: -2px;
   border-radius: 0.5rem;
   background: linear-gradient(135deg, #fa4860, #fce54b);
   z-index: -1;
}

.search-button {
   margin-left: 0.5rem;
   width: 2rem;
   height: 2rem;
   aspect-ratio: 1;
   background: transparent;
   border-radius: 50%;
   position: absolute;
   left: -0.5rem;
   top: 50%;
   transform: translateY(-50%);
}

.search-button svg {
   color: #fff;
   font-weight: 900;
   text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5),
      inset 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.suggestions-list {
   position: absolute;
   top: 100%;
   left: 0;
   right: 0;
   background: #fff;
   border: 1px solid #ddd;
   border-radius: 0.5rem;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
   z-index: 10;
   max-height: 150px;
   overflow-y: auto;
   z-index: 19;
}

.suggestion-item {
   padding: 0.5rem 1rem;
   cursor: pointer;
   transition: background 0.2s;
}

.suggestion-item:hover {
   background: #f0f0f0;
}
