/* ==================================================================================== */
/* Product Style  */
/* ==================================================================================== */
.card {
   position: relative;
   border-radius: 0.5rem; /* Rounded corners */
   background-color: #ffffff; /* Card background */
   transition: box-shadow 0.3s ease, transform 0.3s ease; /* Smooth transitions */
}

.card:hover {
   transform: translateY(-5px); /* Lift the card on hover */
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

.overflow-x-auto {
   padding: 0.5rem; /* Padding around the horizontal scroll area */
}

.text-blue-600 {
   color: #3b82f6; /* Blue color for 'See More' text */
}

.bg-blue-600 {
   background-color: #3b82f6; /* Background color for the button */
}

.bg-blue-700 {
   background-color: #2563eb; /* Darker blue for hover effect */
}

.rounded-lg {
   border-radius: 0.5rem; /* Rounded corners for buttons */
}

/* Remove scrollbar styles */
::-webkit-scrollbar {
   display: none;
}
