/* Container for the image and the hover effect */
.image-container {
   position: relative;
   width: 100%;
   overflow: hidden;
}

/* Image styling with 3D hover effect */
.coupon-image {
   height: 541px;
   border-radius: 15px;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.group:hover .coupon-image {
   border-radius: 15px;
   transform: scale(1.05);
   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

/* Right sidebar containing the icons */
.icon-sidebar {
   position: absolute;
   top: 50%;
   right: -50px;
   transform: translateY(-50%);
   opacity: 0;
   transition: right 0.3s ease, opacity 0.3s ease;
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.group-hover:show-icons {
   right: 10px;
   opacity: 1;
}

/* Individual icon item container */
.icon-item {
   width: 40px;
   height: 40px;
   background-color: white;
   border-radius: 50%;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   display: flex;
   justify-content: center;
   align-items: center;
   transition: background-color 0.3s ease;
}

.icon-item:hover {
   background-color: #f1f1f1;
   cursor: pointer;
}

/* Icon styles with custom colors */
.icon-heart {
   color: red;
}

.icon-zoom {
   color: blue;
}

.icon-share {
   color: green;
}
